<div class="page-wrapper font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="row">
        <div class = "col-sm-0 col-md-4 card-heading"></div>
        <div class="col-sm-12 col-md-8">
          <div class="card-body">
            <% if["edit"].include?(params[:action])%>
              <h1 class="title text-center"> Update User Info </h1>
            <% else %>
              <h1 class="title text-center"> Registration Info</h1>
            <% end %>
            <%= form_for @user, method: :post do |form| %>
              <% if @user.errors.any? %>
                <% @user.errors.full_messages.each do |msg| %>
                  <div class="alert alert-danger"><%= msg %></div>
                <%end%>
              <%end%>

              <div class="input-group row">
                <div class = "col-12">
                  <%= form.text_field :name, autofocus: true, class: "input--style-2", placeholder: "Name", required: true %>
                </div>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <span class="validator-icon-styles">
                    <span id="valid_email" class="fa fa-check-circle"></span>
                    <span id="invalid_email" class="fa fa-times-circle"></span>
                  </span>
                  <%= form.email_field :email, class: "input--style-2", placeholder: "Email", required: true %>
                </div>
              <span id="email_error_message"></span>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <span class="validator-icon-styles">
                    <span id="valid_username" class="fa fa-check-circle"></span>
                    <span id="invalid_username" class="fa fa-times-circle"></span>
                  </span>
                  <%= form.text_field :username, autofocus: true, class: "input--style-2", placeholder: "username", required: true %>
                </div>
                <span id="username_error_message"></span>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <span class="validator-icon-styles">
                    <span id="valid_mobile" class="fa fa-check-circle"></span>
                    <span id="invalid_mobile" class="fa fa-times-circle"></span>
                  </span>
                  <%= form.text_field :mobile, class: "input--style-2", placeholder: "Mobile no", required: true %>
                </div>
                <span id="mobile_error_message"></span>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <span class="validator-icon-styles">
                    <span id="valid_password" class="fa fa-check-circle"></span>
                    <span id="invalid_password" class="fa fa-times-circle"></span>
                  </span>
                  <%= form.password_field :password, class: "input--style-2", placeholder: "Password", required: true %>
                </div>
                <span id="password_error_message"></span>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <span class="validator-icon-styles">
                    <span id="valid_confirm_password" class="fa fa-check-circle"></span>
                    <span id="invalid_confirm_password" class="fa fa-times-circle"></span>
                  </span>
                  <%= form.password_field :password_confirmation, class: "input--style-2", placeholder: "Confirm Password", required: true %>
                </div>
                <span id="confirm_password_error_message"></span>
              </div>
              <div class="form-group row">
                <div class="col-4"></div>
                <div class = "col-4">
                  <% unless["edit"].include?(params[:action])%>
                    <%= form.submit( "Sign Up",{ class: "btn btn-success btn-lg btn-block", id: "signup", disabled: true, data:{disable_with: "Registering.."}})%>
                  <% else %>
                    <%= form.submit( "Update",{ class: "btn btn-primary btn-lg", data:{disable_with: "Updating..."}})%>
                  <% end %>
                </div>
                <div class="col-4"></div>
              </div>
            <%end%>
            <div class="row">
              <div class="col-12 text-center">
                <span>Already a customer?</span>
              </div>
              <div class="col-12 text-center signin-btn">
                <%= link_to " Sign in", new_session_path, class:"btn btn-success fa fa-sign-in my-2 my-sm-0" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>