<div class="row justify-content-center">
  <div class="col-12 col-md-11 col-lg-10 col-xl-7">
    <div class="box bg-light">
      <div class="user-list">
        <table class="table table-hover table-striped table-light">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="font-weight-bold">Image</th>
              <th scope="col" class="font-weight-bold">Name</th>
              <th scope="col" class="font-weight-bold">Email</th>
              <th scope="col" class="font-weight-bold">Phone</th>
              <th scope="col" class="font-weight-bold">Edit</th>
              <th scope="col" class="font-weight-bold">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if @users.present? %>
              <% @users.each do |user| %>
                <tr>
                  <td class="align-middle">
                    <% if user.avater.present? %>
                      <%= image_tag user.avater.url, class:"user-image" %>
                    <% else %>
                      <%= image_tag "dummy_user.jpg", class: "user-image" %>
                    <% end %>
                  </td>
                  <td class="align-middle"><%= user.name %></td>
                  <td class="align-middle"><%= user.email %></td>
                  <td class="align-middle"><%= user.mobile %></td>
                  <td class="align-middle"><%= link_to "", user_path(user), class: "fa fa-edit" %></td>
                  <td class="align-middle">
                    <%= link_to "", user_path(user), method: :delete, data: {confirm: "Once you delete this uder and not retrive again. \n Are you Sure?"}, class: "fa fa-trash" %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr><td class="text-center align-middle">No User Found</td></tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>