<div class="row justify-content-center">
  <% if current_user && current_user.admin %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="box bg-dark">
        <h3 class="box-title text-color-black">USERS</h3>
        <div class="div-inline">
          <div class="overview-icon"><i class="fa fa-users text-primary"></i></div>
          <div class="count text-right">
            <span class="counter text-primary"><%= user_count %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="box bg-dark">
        <h3 class="box-title text-color-black">CATEGORY</h3>
        <div class="div-inline">
          <div class="overview-icon"><i class="fa fa-tags text-warning"></i></div>
          <div class="count text-right">
            <span class="counter text-warning"><%= category_count %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="box bg-dark">
      <h3 class="box-title text-color-black">PRODUCTS</h3>
      <div class="div-inline">
        <div class="overview-icon"><i class="fa fa-product-hunt text-danger"></i></div>
        <div class="count text-right">
          <span class="counter text-danger"><%= product_count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="box bg-dark">
      <h3 class="box-title text-color-black">ORDERS</h3>
      <div class="div-inline">
        <div class="overview-icon"><i class="fa fa-dropbox text-success"></i></div>
        <div class="count text-right">
          <span class="counter text-success"><%= order_count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="box bg-dark">
      <h3 class="box-title text-color-black">ADDRESS</h3>
      <div class="div-inline">
        <div class="overview-icon"><i class="fa fa-address-card-o text-success"></i></div>
        <div class="count text-right">
          <span class="counter text-secondary"><%= address_count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="box bg-dark">
      <h3 class="box-title text-color-black">SELLER</h3>
      <div class="div-inline">
        <div class="overview-icon"><i class="fa fa-seller text-success"></i></div>
        <div class="count text-right">
          <span class="counter text-purple">0<%# comment_count %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-12">
    <div class="box bg-dark">
      <h3 class="box-title">Recent Orders</h3>
      <div class="comment-center p-t-10">
        <% if @orders.present? %>
          <% @orders.each do |order| %>
            <div class="comment-body">
              <div class="post-img"> 
                <%= image_tag post.image.url, class: "img-circle", alt: "image#{post.id}" %>
              </div>
              <div class="mail-contnet">
                <h5><%= post.post_name %></h5>
                <span class="time"><%= DateTime.parse(post.created_at.to_s).strftime("%I:%M %p %d %b,%Y") %></span>
                <br />
                <span class="mail-desc"><%= post.description %></span>
              </div>
            </div>  
          <% end %>
        <% else %>
            <div class="comment-body">
              <h5 class="text-center">No post availavle</h5>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12">
    <div class="box bg-dark">
      <h3 class="box-title">Recent comments</h3>
      <div class="comment-center p-t-10">
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <div class="comment-body">
              <div class="user-img"> 
                <% if comment.user.avater.present? %>
                  <%= image_tag comment.user.avater.url, class: "img-circle", alt: "image#{comment.id}" %>
                <% else %>
                  <%= image_tag "dummy.jpg", class: "img-circle", alt: "image#{comment.id}" %>
                <% end %>
              </div>
              <div class="mail-contnet">
                <h5><%= comment.comment_title %></h5>
                <span class="time">By <%= comment.user.name %>, <%= DateTime.parse(comment.created_at.to_s).strftime("%I:%M %p %d %b,%Y") %></span>
                <br />
                <span class="mail-desc"><%= comment.comment_body %></span>
              </div>
            </div>
          <% end %>
        <% else %>
            <div class="comment-body">
              <h5 class="text-center">No comment availavle</h5>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
