<div class="page-wrapper font-robo">
  <div class="wrapper wrapper--w960">
    <div class="card card-2">
      <div class="row">
        <div class = "col-sm-0 col-md-3 card-heading"></div>
        <div class="col-sm-12 col-md-9">
          <div class="card-body">
            <% unless["edit"].include?(params[:action])%>
              <h1 class="title text-center">Create Product Catagory</h1>
              <% content_for :title, "Create Category" %>
            <% else %>
              <h1 class="title text-center">Update Product Category</h1>
              <% content_for :title, "Update Category" %>
            <% end %>
            <%= form_for @product_category, method: :post do |form| %>
              <% if @product_category.errors.any? %>
                <% @product_category.errors.full_messages.each do |msg| %>
                  <div class="alert alert-danger"><%= msg %></div>
                <%end%>
              <%end%>

              <div class="input-group row">
                <div class = "col-12">
                  <%= form.text_field :category_name, autofocus: true, class: "input--style-2", placeholder: "Category name", required: true %>
                </div>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <%= form.text_area :category_description, class: "input--style-2", placeholder: "Description" %>
                </div>
              </div>
              <div class="input-group row">
                <div class = "col-12">
                  <% if["edit"].include?(params[:action])%>
                    <%=form.submit( "Update",{ class: "btn btn-primary btn-lg", data:{disable_with: "Updating..."}})%>
                  <% else %>
                    <%=form.submit( "Create",{ class: "btn btn-success btn-lg", data:{disable_with: "Creating.."}})%>
                  <% end %>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
