<%= form_for @category do |form| %>
  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <%end%>
  <%end%>

  <div class="form-group row">
    <div class = "col-12 col-sm-4 col-md-4">
      <%= form.label :title,"Category title", for: "title", class:"col-12  col-form-label"%>
      <%= form.text_field :title, class: "form-control", placeholder: "Enter category title", required: true %>
    </div>
    <div class = "col-12 col-sm-6 col-md-6">
      <%= form.label :category_description,"Summary", for: "category_description", class:"col-12 col-form-label"%>
      <%= form.text_field :category_description, class: "form-control", placeholder: "Enter Summary" %>
    </div>
    <div class = "col-12 col-sm-2 col-md-2">
      <%= form.label :_, "", class:"col-12 col-form-label"%>
      <div id="update_btn">
        <%=form.submit( "Add",{ class: "btn btn-success btn-lg", data:{disable_with: "Adding.."}})%>
      </div>
    </div>
  </div>
<%end%>
