<div id="topbar">
  <div class="row no-gutters align-items-center justify-content-between">
    <div class="col-auto">
      <button type="button" class="btn btn-success call-btn"><i class="fa fa-phone"></i> +91 1234567890</button>
    </div>
    <div class="col-auto justify-content-end">
      <% if !current_user %>
        <div class="row no-gutters">
          <div class="col-auto signin-btn">
            <%= link_to " Sign in", new_session_path, class:"btn btn-success fa fa-sign-in my-2 my-sm-0" %>
          </div>
          <div class="col-auto signup-btn">
            <%= link_to " Sign up", new_user_path, class:"btn btn-success fa fa-sign-out my-2 my-sm-0" %>
          </div>
        </div>
      <% else %>
        <div class="row no-gutters">
          <div class="col-auto">
            <a class="dropdown-toggle btn login-name" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi, <%= current_user.name %>
            </a>
            <div class="dropdown-menu logout-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
              <div><%= link_to "Profile", user_path(current_user.id), class:"btn fa fa-user" %></div>
              <% if current_user && admin? %>
                <div><%= link_to "Dashboard", admin_dashboard_path, class:"icon-dashboard" %></div>
              <%end%>
              <div><%= link_to "Logout", session_path(current_user), method:"delete", class:"btn btn-danger fa fa-sign-out" %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>